@model Fizika.Entities.DTOs.ExamListDto
@using Fizika.Shared.Utilities.Results.ComplexTypes
@{ Layout = "_Layout";
    ViewBag.Title = "Exam Index"; }

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="row">
    <div class="col-md-12  header-wrapper">
        <h1 class="page-header">Admin - Testler</h1>
        @*<p class="page-subtitle">Buradan yeni kateqoriya yarada, editləyə və silə bilərsiniz.</p>*@
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<ol class="breadcrumb">
    <li><a href="/Admin">Admin</a></li>
    <li class="active">Testler</li>
    <li ><a href="/Admin/Exam/Add" class="btn btn-primary">Yeni Test</a></li>
</ol>

<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="row">
    <div class="col-md-12 card">
        @if (Model.ResultStatus == ResultStatus.Succes)
        {
<table class="table no-footer dataTable dtr-inline" id="projectTables">
    <thead>
        <tr>
            <th>ID</th>
            <th>Sınaq</th>
            <th>Kateqoriya</th>
            <th>Tarix</th>
            <th>Pdf</th>
            <th>Aktivdirmi ?</th>
            <th>Silinibmi ?</th>
            <th>Əməliyyatlar</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Sınaq</th>
            <th>Kateqoriya</th>
            <th>Tarix</th>
            <th>Pdf</th>
            <th>Aktivdirmi ?</th>
            <th>Silinibmi ?</th>
            <th>Əməliyyatlar</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var project in Model.Exams)
        {
        <tr class="odd" name="@project.Id">
            <td>@project.Id</td>
            <td>@project.ExamName</td>
            <td>@project.Examcategory.Name</td>
            <td>@project.CreatedDate.ToShortDateString()</td>
            <td>@project.Link</td>
            <td>@(project.IsActive ? "Bəli" : "Xeyr")</td>
            <td>@(project.IsDeleted ? "Bəli" : "Xeyr")</td>
            <td class="text-center">
                <a class="btn btn-primary btn-warning" asp-area="Admin" asp-controller="Exam" asp-action="DownloadFile" asp-route-filePath="@project.Link"><span class="fas fa-download"></span></a>
                <button class="btn btn-danger btn-sm btn-delete" data-id="@project.Id"><span class="fas fa-minus-circle"></span> </button>
            </td>
        </tr>
}
    </tbody>
</table> }
else if (Model.ResultStatus == ResultStatus.Error)
{
<div class="alert alert-danger">
    <h3>@Model.Message</h3>
    <p>Dashboarda qayıtmaq üçün <a asp-area="Admin" asp-controller="Home" asp-action="Index">Tıklayın</a></p>
</div>}
        <button class="btn btn-primary btnUpdate" type="button" disabled style="display:none;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Yüklənir...
        </button>
    </div>
</div>

<!-- JavaScript -->
@section Scripts{
    <script src="~/js/crud/exam/examIndex.js" type="application/ecmascript"></script>
    <script>
        $(document).ready(function () {
            $("#btnAdd").click(function () {
                window.location.href = '@Url.Action("Add","Exam")';
            })

        });

    </script>
}
@section Styles{

}