@model Fizika.Entities.DTOs.BusinessListDto
@using Fizika.Shared.Utilities.Results.ComplexTypes
@{ Layout = "_Layout";
    ViewBag.Title = "Business Index"; }

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="row">
    <div class="col-md-12  header-wrapper">
        <h1 class="page-header">Admin - Xidmetər</h1>
        <p class="page-subtitle">Buradan yeni xidmet yarada, editləyə və silə bilərsiniz.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<ol class="breadcrumb">
    <li><a href="/Admin">Admin</a></li>
    <li class="active">Xidmetler</li>
</ol>

<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="row">
    <div class="col-md-12 card">
        @if (Model.ResultStatus == ResultStatus.Succes)
        {
<table class="table no-footer dataTable dtr-inline" id="dataTables">
    <thead>
        <tr>
            <th>ID</th>
            <th>Başlıq</th>
            <th>Açıqlama</th>
            <th>Icon</th>
            <th>Aktiv</th>
            <th>Silinib</th>
            <th>Tarix</th>
            <th>İstifadəçi Adı</th>
            <th>Son Edit Tarixi</th>
            <th>Son Editləyən İstifadəçi Adı</th>
            <th>Əməliyyatlar</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Başlıq</th>
            <th>Açıqlama</th>
            <th>Icon</th>
            <th>Aktiv</th>
            <th>Silinib</th>
            <th>Tarix</th>
            <th>İstifadəçi Adı</th>
            <th>Son Edit Tarixi</th>
            <th>Son Editləyən İstifadəçi Adı</th>
            <th>Əməliyyatlar</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var business in Model.Businesses)
        {
<tr class="odd" name="@business.Id">
    <td>@business.Id</td>
    <td>@business.Header</td>
    <td>@business.Description</td>
    <td class="center"><span class="status active">@(business.IsActive ? "Bəli" : "Xeyr")</span></td>
    <td class="center"><span class="status active">@(business.IsDeleted ? "Bəli" : "Xeyr" )</span></td>
    <td class="center">@business.CreatedDate.ToShortDateString()</td>
    <td class="center">@business.CreatedByName</td>
    <td class="center">@business.ModifiedDate.ToShortDateString()</td>
    <td class="center">@business.ModifiedByName</td>
    <td class="text-center">
        <a asp-action="Update" asp-controller="Business" asp-route-businessId="@business.Id" class="btn btn-primary btn-sm btn-block @*btn-update*@" data-id="@business.Id"><span class="fas fa-edit"></span> </a>
        <button class="btn btn-danger btn-sm btn-delete btn-block" data-id="@business.Id"><span class="fas fa-minus-circle"></span> </button>
    </td>
</tr>
}
    </tbody>
</table> }
else if (Model.ResultStatus == ResultStatus.Error)
{
<div class="alert alert-danger">
    <h3>@Model.Message</h3>
    <p>Dashboarda qayıtmaq üçün <a asp-area="Admin" asp-controller="Home" asp-action="Index">Tıklayın</a></p>
</div>}
        <button class="btn btn-primary btnUpdate" type="button" disabled style="display:none;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Yüklənir...
        </button>
    </div>
</div>

<!-- JavaScript -->
@section Scripts{
    <script src="~/js/crud/business/businessIndex.js" type="application/ecmascript"></script>
}
