@using Microsoft.Extensions.Options
@using Fizika.Entities.Concrete
@inject IOptionsSnapshot<ChooseUsPageInfo> ChoosePageInfo
@{
    var choose = ChoosePageInfo.Value;
}
<section class="why_choose_area_2 pt-130 bg_cover" style="background-image: url(/fiziknihad/assets/images/choose_bg-2.jpg)">

    <div class="chooses_contact d-none d-lg-block">
        <div class="chooses_contact_wrapper d-flex justify-content-between align-items-center">
            <h5 class="contact_title">Köməyə ehtiyacın var ? Mənim ilə əlaqə qur</h5>
            <a href="/elaqe" class="main-btn">Əlaqə</a>
        </div>
    </div>

    <div class="why_choose_wrapper pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="why_choose_content_2">
                        <div class="section_title section_title_2 pb-20">
                            <h3 class="main_title">Niyə məni seçməlisiniz ?</h3>
                            <p>@choose.Header</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 choose_col">
                                <div class="single_choose_2  mt-30">
                                    <div class="choose_icon">
                                        <img src="~/fiziknihad/assets/images/choose_icon-1.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Gecikməsindən asılı olmayaraq qəbulda yazmaq qarantisi verildiyi üçün </a></h5>
                                        <p>@choose.ContentFirst</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 choose_col">
                                <div class="single_choose_2 mt-30">
                                    <div class="choose_icon">
                                        <img src="~/fiziknihad/assets/images/choose_icon-2.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Dərsin Yüksək Səviyyədə İzahı üçün</a></h5>
                                        <p>
                                            @choose.ContentSecond
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 choose_col">
                                <div class="single_choose_2 mt-30">
                                    <div class="choose_icon">
                                        <img src="~/fiziknihad/assets/images/choose_icon-3.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Mövzuların tam formada sürətli bitirildiyi üçün</a></h5>
                                        <p>@choose.ContentThird</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 choose_col">
                                <div class="single_choose_2 mt-30">
                                    <div class="choose_icon">
                                        <img src="~/fiziknihad/assets/images/choose_icon-4.png" alt="Icon">
                                    </div>
                                    <div class="choose_content">
                                        <h5 class="title"><a href="#">Çoxlu təkrar etdilməklə yanaşı qısa zamanda biliklərin möhkəmləndirildiyi üçün</a></h5>
                                        <p>@choose.ContentFourth</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why_choose_bg bg_cover" style="background-image: url(/fiziknihad/assets/images/shape/bg_shape.jpg)"></div>
    </div>
</section>