@model Fizika.Mvc.Models.AboutViewModel
   <!--====== Page Banner PART START ======-->

<section class="page_banner bg_cover" style="background-image: url(assets/images/about_bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h4 class="title">Haqqımda</h4>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">Ana Səhifə</a></li>
                        <li><a class="active" href="#">Haqqımda</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner PART ENDS ======-->
<!--====== About PART START ======-->

<section class="about_area pt-80">
    <img class="shap_1" src="~/fiziknihad/assets/images/shape/shape-1.png" alt="shape">
    <img class="shap_2" src="~/fiziknihad/assets/images/shape/shape-2.png" alt="shape">
    <img class="shap_3" src="~/fiziknihad/assets/images/shape/shape-3.png" alt="shape">
    <img class="shap_4" src="~/fiziknihad/assets/images/shape/shape-4.png" alt="shape">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_content mt-45">
                    <h3 class="about_title">@Model.aboutUsPageInfo.Header</h3>
                    <p class="text">@Model.aboutUsPageInfo.Content</p>
                    <a href="#" class="main-btn">Əlaqə</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image mt-50">
                    <img src="~/fiziknihad/assets/images/about-1.jpg" alt="about" class="about_image-1">
                    <img src="~/fiziknihad/assets/images/about-2.jpg" alt="about" class="about_image-2">
                    <img src="~/fiziknihad/assets/images/about-3.jpg" alt="about" class="about_image-3">
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== About PART ENDS ======-->
<!--====== Counter PART START ======-->

<section class="counter_area pt-80 pb-130">
    <div class="container">
        <div class="row counter_wrapper">
            <div class="col-lg-3 col-sm-6 counter_col">
                <div class="single_counter text-center mt-50">
                    <div class="counter_icon">
                        <div class="icon_wrapper">
                            <img src="~/fiziknihad/assets/images/count_icon-1.png" alt="Icon">
                        </div>
                    </div>
                    <div class="counter_content">
                        <span class="cont"><span class="counter">3</span>+</span>
                        <p>Universitet fakultəsi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 counter_col">
                <div class="single_counter text-center mt-50">
                    <div class="counter_icon">
                        <div class="icon_wrapper">
                            <img src="~/fiziknihad/assets/images/count_icon-2.png" alt="Icon">
                        </div>
                    </div>
                    <div class="counter_content">
                        <span class="cont"><span class="counter">10</span>k+</span>
                        <p>Uğurlu Tələbə</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 counter_col">
                <div class="single_counter text-center mt-50">
                    <div class="counter_icon">
                        <div class="icon_wrapper">
                            <img src="~/fiziknihad/assets/images/count_icon-3.png" alt="Icon">
                        </div>
                    </div>
                    <div class="counter_content">
                        <span class="cont"><span class="counter">150</span></span>
                        <p>Sınaqlar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 counter_col">
                <div class="single_counter text-center mt-50">
                    <div class="counter_icon">
                        <div class="icon_wrapper">
                            <img src="~/fiziknihad/assets/images/count_icon-4.png" alt="Icon">
                        </div>
                    </div>
                    <div class="counter_content">
                        <span class="cont"><span class="counter">12</span></span>
                        <p>Seminar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Counter PART ENDS ======-->
<!--====== About 2 PART START ======-->

<section class="about_area_2 d-flex flex-wrap ">
    <div class="about_video bg_cover" style="background-image: url(/fiziknihad/assets/images/fiziknihadwallpaper.webp)">
        <div class="video">
            <a class="video_play" href="#"><i class="fa fa-play"></i></a>
        </div>
    </div>

    <div class="about_content_2">
        <div class="single_about_2 d-flex flex-wrap about_color_1">
            <div class="about_2_content">
                <div class="about_2_content_wrapper">
                    <h4 class="title"><a href="#">Faydalı məlumatlar</a></h4>
                    <p>Bloqlar ilə siz tədrisinizdə istifadə edəbiləcəyiniz faydalı məlumatlar öyrənəcəksiniz </p>
                    <a href="/bloq" class="main-btn">Ətraflı</a>
                </div>
            </div>
            <div class="about_2_image bg_cover" style="background-image: url(/fiziknihad/assets/images/fizikalbert.webp)"></div>
        </div>

        <div class="single_about_2 d-flex flex-wrap about_color_2">
            <div class="about_2_content order-md-last">
                <div class="about_2_content_wrapper">
                    <h4 class="title"><a href="#">Ödənişsiz Sınaqlar</a></h4>
                    <p>Sınaqlar qəbul və ya qəbul tipli olmaqla çətinlik çəkdiyiniz hissələri meydana çıxaracaqdır </p>
                    <a href="/sinaq" class="main-btn">Ətraflı</a>
                </div>
            </div>
            <div class="about_2_image bg_cover order-md-first" style="background-image: url(/fiziknihad/assets/images/fiziknyuton.webp)"></div>
        </div>
    </div>
</section>

<!--====== About 2 PART ENDS ======-->
<!--====== Why Choose Us PART START ======-->



<section class="why_choose_area pt-120 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="why_choose_content">
                    <div class="section_title pb-20">
                        <h3 class="main_title">Niyə məni seçməlisiniz ?</h3>
                        <p>@Model.chooseUsPageInfo.Header</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single_choose mt-30">
                                <div class="choose_icon">
                                    <img src="~/fiziknihad/assets/images/choose_icon-1.png" alt="Icon">
                                </div>
                                <div class="choose_content">
                                    <h5 class="title"><a href="#">Gecikməsindən asılı olmayaraq qəbulda yazmaq qarantisi verildiyi üçün</a></h5>
                                    <p>@Model.chooseUsPageInfo.ContentFirst</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_choose mt-30">
                                <div class="choose_icon">
                                    <img src="~/fiziknihad/assets/images/choose_icon-2.png" alt="Icon">
                                </div>
                                <div class="choose_content">
                                    <h5 class="title"><a href="#">Dərsin Yüksək Səviyyədə İzahı üçün</a></h5>
                                    <p>@Model.chooseUsPageInfo.ContentSecond</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_choose mt-30">
                                <div class="choose_icon">
                                    <img src="~/fiziknihad/assets/images/choose_icon-3.png" alt="Icon">
                                </div>
                                <div class="choose_content">
                                    <h5 class="title"><a href="#">Mövzuların tam formada sürətli bitirildiyi üçün</a></h5>
                                    <p>@Model.chooseUsPageInfo.ContentThird</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_choose mt-30">
                                <div class="choose_icon">
                                    <img src="~/fiziknihad/assets/images/choose_icon-4.png" alt="Icon">
                                </div>
                                <div class="choose_content">
                                    <h5 class="title"><a href="#">Çoxlu təkrar etdilməklə yanaşı qısa zamanda biliklərin möhkəmləndirildiyi üçün</a></h5>
                                    <p>@Model.chooseUsPageInfo.ContentFourth</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why_choose_image d-none d-lg-table">
        <div class="image">
            <img src="~/fiziknihad/assets/images/choose_bg.png" alt="">
        </div>
    </div>
</section>

<!--====== Why Choose Us PART ENDS ======-->
<!--====== About 3 PART START ======-->

<section class="about_area_3 pt-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="about_certified mt-45">
                    <h4 class="title">100% qaranti verən Fizika kursu</h4>
                    <p>Qəbul imtahanında gecikmiş şagirdlərə işıq yolu olan Nihad Şahbazov, qəbul proqramını 4 aya mükəmməl səviyyədə bitirərək qəbulda yazmağa 100% qaranti verir.</p>
                    <span><img src="~/fiziknihad/assets/images/call-3.png" alt="call">  0503244417</span>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about_welcome mt-50">
                    <div class="welcome_circle">
                        <h4 class="circle_title">Nihad Şahbazov</h4>
                    </div>
                    <div class="welcome_info">
                        <div class="info_time">
                            <div class="info_wrapper d-flex">
                                <div class="info_icon">
                                    <img src="~/fiziknihad/assets/images/clock.png" alt="clock">
                                </div>
                                <div class="info_content media-body">
                                    <h5 class="info_title">10:00  -  22:00</h5>
                                    <p>Hər gün</p>
                                </div>
                            </div>
                        </div>
                        <div class="info_location">
                            <div class="info_wrapper d-flex">
                                <div class="info_icon">
                                    <img src="~/fiziknihad/assets/images/location.png" alt="location">
                                </div>
                                <div class="info_content media-body">
                                    <h5 class="info_title">Neftçilər M/S yanı Rüstəm Rüstəmov küçəsi</h5>
                                    <p>Ünvan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== About 3 PART ENDS ======-->
<section class="features_area_2 pt-100 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_features_2 mt-30">
                    <img src="~/fiziknihad/assets/images/f-icon-4.png" alt="icon">
                    <h5 class="title"><a href="#">Münasib qiymət</a></h5>
                    <p>Qiymətləri ən münasib hala gətirdik ki, siz də büdcənizə uyğun addımlar ata biləsiniz</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_features_2 mt-30">
                    <img src="~/fiziknihad/assets/images/f-icon-5.png" alt="icon">
                    <h5 class="title"><a href="#">Əlverişli ərazi</a></h5>
                    <p>Şəhər daxilində daha rahat çata biləcəyiniz məkan</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_features_2 mt-30">
                    <img src="~/fiziknihad/assets/images/f-icon-6.png" alt="icon">
                    <h5 class="title"><a href="#">Geniş Müzakirə qrupu</a></h5>
                    <p>Böyük izləyici kütləsi ilə birlikdə geniş müzakirə qrupu</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_features_2 mt-30">
                    <img src="~/fiziknihad/assets/images/f-icon-7.png" alt="icon">
                    <h5 class="title"><a href="#">100% zəmanət</a></h5>
                    <p>4 aylıq müddətdə 100% qaranti</p>
                </div>
            </div>
        </div>
    </div>
</section>


